@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #F9F9F9;
}

.bg-gradient {
  border-radius: 42.507px;
  background: linear-gradient(223deg, #051A91 -4.31%, #061C93 14.41%, #2284F1 81.88%, #1F80EB 103.81%);
  /* Add any other styles you need */
}